body,
html {
  margin: 0;
  padding: 0;
  background: #e9ebee;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: #3b5998;
  color: white;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  padding: 0 10px;
}

.logo-sign {
  background: #42b72a;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
}

.sort-down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

main {
  margin: 20px 300px;
}

.slogan {
  margin-top: 10px;
}

.product {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.product-basic {
  height: 550px;
  width: 520px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0;
  justify-content: space-between;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
}

.product-image {
  width: 230px;
}

.product-user {
  text-align: center;
  font-weight: bolder;
  margin: 35px 0 10px 0;
  font-size: 20px;
}

.product-introduction {
  text-align: center;
  color: gray;
  font-weight: bold;
}

.button-start {
  border: 1px solid gray;
  background-color: #e9ebee;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.prepare {
  display: flex;
  flex-direction: column;
  align-items: center;
}
