body,
html {
  margin: 0;
  padding: 0;
  background: #e9ebee;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: #3b5998;
  color: white;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  padding: 0px 10px;
}

.logo-sign {
  background: #42b72a;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
}

main {
  border: 1px solid red;
  margin: 20px 300px;
}

.slogan {
  border: 1px solid red;
  margin-top: 10px;
}

.product {
  border: 1px solid red;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.product-basic {
  border: 1px solid red;
  height: 550px;
  width: 520px;
  background: white;
}

.product-merchant {
}

.product-public {
}

.prepare {
  display: flex;
  flex-direction: column;
  align-items: center;
}
