body,
html {
  margin: 0;
  padding: 0;
  background: #e9ebee;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: #3b5998;
  color: white;
  height: 70px;
  /*line-height: 70px;*/
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  padding: 0px 10px;
}

.logo-sign {
  background: #42b72a;
  padding: 4px 8px;
  color: white;
  font-size: 10px;
}

main {
  border: 1px solid red;
  min-height: 700px;
}
